*.ini
*.history
*.html
*.docx
*.png
*.gdoc
*.dat
*.hed
*.csv

.RData
.Rhistory

.gitattributes




# Folders #
##############################################
scripts/other-scripts/*
scripts/backup-scripts/*
scripts/supplementray-plots/*


work-update/*

shared-folder/*
shared-contents/*

others/*
help/*

raw-data/*
curated-data/*

log-files/*
python-scripts/*
report/*
#plots/*

--- meta-data-formation/*

# R files #
##############################################
#*basic-check-and-practice.R
*vs-app-usage-validation-plot.rmd
*vs-case-study.rmd
*vs-hierarchical-clustering.rmd
*vs-hr-comparison-plots.Rmd
*vs-linear-models.Rmd
*vs-reduced-ontologies.rmd
*vs-segmented_data_visualization_modeling.rmd
#*vs-supplementary-activity-signal.Rmd
*vs-supplementary-raw-smooth-trans.Rmd
*vs-supplementary-signal-comparison.Rmd
*us-install-packages.R
*vs-activity-pp-box-plot-report.R
*vs-deadline-effect.R
*vs-qq-plot.R
*vs-regression-plot.R
*vs-rr-plots.R
*vs-time-series-plot.R
*vs-validation_plots.R
*vs-variance-test-chunk-data.R
*vs-variance-test.R







# PDF Files #
##############################################









# Packages #
##############################################
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Compiled source #
##############################################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Logs and databases #
##############################################
*.log
*.sql
*.sqlite



# OS generated files #
##############################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
